* {
  border: none;
  border-radius: 15px;
  font-family: "JetBrainsMono Nerd Font Propo" , Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 0;
  margin: 0;
  padding: 0;
  min-height: 0;
}

window#waybar {
  background: none;
}

.modules-left {
  background-color: rgba(40, 40, 40, 0.7);
  padding: 0px 7px;
}
.modules-right {
  background-color: rgba(40, 40, 40, 0.7);
  padding: 0px 9px;
}
.modules-center {
  background-color: rgba(40, 40, 40, 0.7);
  padding: 0px 9px;
}



tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces {
  transition: all 100ms ease-in-out;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-bottom: 3px solid transparent;
}

#workspaces button.active {
  color: #22ba0b;
}


#clock {
  min-width: 80px;
}

#network {
  min-width: 100px;
  padding-left: 5px;
}

#custom-launcher {
  padding-left: 8px;
  padding-right: 14px;
  color: #15a1d4;
}

#custom-power {
  color: white; /* Catppuccin Mocha Red */
  padding-left: 19px;
  font-size: 20px;
  transition: all 0.3s ease;
}

#custom-power:hover {
  color: #ff1100;
}

#pulseaudio-slider {
  min-width: 80px; /* Essential! */
}

#pulseaudio-slider trough {
  min-height: 10px;
  background-color: #313244; /* Dark background */
  border-radius: 5px;
}

#pulseaudio-slider highlight {
  min-height: 10px;
  background-color: #15a1d4; /* Blue accent */
  border-radius: 5px;
}

#cpu {
  padding-right: 8px;
}
#temperature {
  padding-right: 5px;
}
